---
title: Home
component: ContentPage
---
div
  div
    h3 Bienvenue sur le site de téléchargement Hello Cine
    dl
      table
        td
          img(src='mask.png')
        td
          p Profitez de votre visite sur notre site pour consulter les fiches sur les films, les séries et les acteurs !
        td
          img(src='tragedy.png')




